body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background:linear-gradient(rgb(255, 0, 64),rgb(0, 162, 255));
}
.container{
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 0 0 15px blue;
    margin: 15% auto;
    width: 400px;
    display: block;
    background-color: aquamarine;
}
input[type=text],input[type=password]{
    border:none;
    border-radius: 3px;
    padding: 10px;
    margin: 20px auto;
    width: 65%;
}
input[type=text]:hover{
    background-color: rgb(240, 230, 230);
}
input[type=password]:hover{
    background-color: rgb(240, 230, 230);
}
input[type=submit]{
    border: none;
    border-radius: 10px;
    background-color: black;
    padding: 15px;
    margin: 20px 20px;
    width: 90%;
    color: white;
}
h2{
    text-align: center;
}
input[type="submit"]:hover{
    background-color: red;
    transition: background 0.5s;
}